<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>TODO Login Form</title>
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body style="background-color: lightseagreen;">
    <h2>TODO LOGIN</h2>
	<form action="/login" method="post">
        {% csrf_token %}
		<label for="uname"><b>Email</b></label>
		<input type="text" placeholder="Enter email" name="email" required>
		<label for="psw"><b>Password</b></label>
		<input type="password" placeholder="Enter Password" name="psw" required>
		<button type="submit">Login</button>
	</form>
</body>
</html>
